body{
    margin: 0;
    padding: 0;

}
.master{
    display: flex;

    position: relative;
    width: 1440px;
    height: 100%;
    background: #FFFFFF;
}
.photo img{
    padding: 0;
    position:absolute;
    left: -90.71px;
    top: -420px;
    width: 930.81px;
    /* height: 130%; */
    /* height: 1300.68; */
    background: url(.jpg), #EF419F;
box-shadow: 20px 4px 35px rgba(0, 0, 0, 0.25);
transform: rotate(0deg);
}
.words{
    display: block;
    padding-left: 1000;
    font-size: 50px;
    width: 10px;
    
}
.words h3{
    width: 900px;
}
.form{
    display: flex;
    padding-top: 320px;
    
}
form .text_field{
    display: inline;
    position: relative;
    border-bottom: 2px solid #EF419F;
    margin: 30px 0;  
    

}
.text_field input{
    width: 100%;
    
    padding: 0 50px;
    height: 40px;
    font-size: 25px;
    border: none;
    background: none;
    outline: none;
}
/* .master .form{
    width: 100%;
    padding: 250px 40px;
    box-sizing: border-box;
} */
.text_field label{
    position: absolute;
    top: 50%;

    /* left: 5%; */
    
}




/* -------------------quiz page------------ */

.start{
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.rulesBox{
    /* color: red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.rulesBox{
    display: none;
    width:540px;
    border-radius: 20px;
    background: #df80b2;
}

.rulesBox .titleBox{
    height: 50px;
    width: 100%;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 0px;
    /* font-size: 20px; */

}
.titleBox span{
    padding: 20px;
    font-size: 16;
    font-weight: 200;
}
.start button{
    padding: 20;
    width: 150px;
    border: none;
    outline: none;
    border-radius: 0 18px 0 18px;
}
.rulesBox .ruleList{
    padding: 12px 35px;
    width: 100%;
}
.list{
    margin: 5px 0;
}

.exitButton{
    height: 60;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 25px;
    border-top: 1px solid gray;
}
.exitButton button{
    padding: 10px;
    border-radius: 12px;
    border: none;
}


.quizBox{
    display: none;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    background:#EF419F;
    border-radius: 20px;
}
.quizBox header{
    height: 70px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px 6px 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.titleQuiz{
    font-size: 20px;
}
.timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 35px;
    background: lightgray;
    border: none;
    border-radius: 15px;
    padding: 0 8px;
}
.timeText{
    font-weight: 400;
}
.timeSec{
    font-size: 18px;
    background: darkgray;
    width:30px;
    text-align: center;
    border-radius: 5px;
}

section{
    padding: 25px 30px 20px 30px;
}
.Questions span{
    font-size: 25px;
}
.optionList{
    padding: 20px 0;
    display: block;
}
.option{
    background: aliceblue;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 8px 15px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}
.option:last-child{
    margin-bottom: 0px;
}
.option:hover{
    color: '';
    background: '';
    border-color: #df80b2;
}

.icon{
    height: 16px;
    text-align: center;
    width: 16px;
    border: 2px solid transparent;
    border-radius: 50%;
    line-height: 20px;
    font-size: 15px;
    pointer-events: none;
    
}
.icon.Tick{
    color: green;
    border-color: green;
    background: #FFFFFF;
}
.icon.Cross{
    color: rgb(248, 62, 62);
    border-color: rgb(248, 62, 62);
    background: #d89399;
}

footer{
    
    width: 90%;
    padding: 0 30px ;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.total span {
    display: flex;

}
.total span p{
    font-weight: 500px;
    padding: 0 5px;

}
/* .total span p:first-child{
    padding-left: 0px;
} */

.nextTo button{
    width: 20px;
}

@media screen and (max-width:480px){
    .master{
        width: 100%;
        display: flex;
        /* height: -100vh; */
        /* flex-direction: column; */
    }
    .photo img{
        position: absolute;
        display: flex;
        width: 400px;
        height: 89%;
        background-size: cover;
        background-repeat: no-repeat;
        transform: rotate(0deg);
        top: -90;
        left: 0;
    }
    .words{
        display: flex;
        z-index: 1;
        padding-left: 120;
        color: white;
        
    }
    .words h3{
        display: inline;
        
    }
    .form{
        z-index: 0;
        height: 100vh;
        width: 100%;
    }

    
}